services:
  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: steadygig
      POSTGRES_PASSWORD: steadygigpassword
      POSTGRES_DB: steadygigdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
volumes:
  postgres_data:
